<div>
    <div>
        <h3>About</h3>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">Created by:</div>
        <div class="col-md-9 col-xs-7"><a href="http://twitter.com/tjoudeh" target="_blank">Taiseer Joudeh</a></div>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">Blog:</div>
        <div class="col-md-9 col-xs-7"><a href="http://www.bitoftech.net" target="_blank">bitoftech.net</a></div>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">GitHub:</div>
        <div class="col-md-9 col-xs-7"><a href="https://github.com/tjoudeh/" target="_blank">https://github.com/tjoudeh/</a></div>
    </div>
</div>
